
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.store {
    display: grid;
    gap: 30px;
    max-width: 1000px;
    margin: auto;
}
.view-icon {
    justify-self: right;
    font-size: 48px;
    color: rgb(87, 87, 87);
    cursor: pointer;
    user-select: none;
}

.cards-list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 45px;
    column-gap: 100px;
}

.shop-card {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, auto);
    justify-content: space-between;
    gap: 10px;

    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgb(63, 63, 63);
    background-color: rgb(245, 245, 245);
}
.shop-card__name {
    grid-column: span 2;

    font-size: large;
    font-weight: 600;
    font-family: system-ui;
}
.shop-card__color {
    grid-column: span 2;

    font-weight: 600;
    font-size: 15px;
    font-family: system-ui;
}
.shop-card__img {
    justify-self: center;
    grid-column: span 2;
    width: 200px;
}
.shop-card__price {
    color: red;
    align-self: center;
}
.shop-card__button {
    color: red;
    padding: 7px;
    border: 1px solid red;
    border-radius: 30px;

    font-size: 15px;
    font-family: system-ui;
    font-weight: 500;

    cursor: pointer;
}

.items-list {
    display: grid;
    grid-auto-flow: row;
    gap: 2px;
}

.shop-item {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-between;
    align-items: center;

    background-color: rgb(245, 245, 245);
}

.shop-item__img {
    width: 100px;
    margin-left: 10px;
}
.shop-item__name {
    font-size: large;
    font-weight: 600;
    font-family: system-ui;
}
.shop-item__color {
    font-weight: 600;
    font-size: 15px;
    font-family: system-ui;
}
.shop-item__price {
    color: red;
    align-self: center;
}
.shop-item__button {
    color: red;
    padding: 5px 10px;
    border: 1px solid red;
    border-radius: 30px;

    font-size: 14px;
    font-family: system-ui;
    font-weight: 500;

    cursor: pointer;
    margin-right: 10px;
}